@font-face {
    font-family: Seurat;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/SeuratProB.otf) format("opentype");
}

* {
    box-sizing: border-box;
    cursor: url('../imgs/Pointer.png'), auto;
    font-family: Seurat;
}

body {
    margin: 0;
    background: #fff7e7;
    color: #74664b;
}

.cranny-header {
    padding: 10px;
    background: #ffdfa0;
    font-size: 20px;
}

.cranny-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cranny-logo {
    display: flex;
    align-items: center;
}

.cranny-logo .cranny-title {
    margin: 0;
    padding-left: 100px;
}


.custom-navbar .nav-link {
    color: #81350A;
}

.custom-navbar .nav-link:hover {
    color: #000000;
}

.dropdown-menu {
    right: 0;
}

.dropdownMenuButton {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

/* Custom styles for the person icon */
.btn .bi {
    font-size: 1.5rem; /* Adjust the size of the icon */
}


.carousel-inner img {
    max-height: 600px !important;
    width: auto;
    object-fit: cover;
}
