@font-face {
    font-family: Seurat;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/SeuratProB.otf) format("opentype");
}

* {
    box-sizing: border-box;
    cursor: url('../imgs/Pointer.png'), auto;
    font-family: Seurat;
}

body {
    margin: 0;
    background: #fff7e7;
    color: #74664b;
}

.cranny-header {
    padding: 10px;
    background: #ffdfa0;
    font-size: 20px;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.cranny-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cranny-logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0; /* Adjust padding as needed */
}

.custom-navbar .nav-link {
    color: #81350A;
}

.normal-button{
  border: 0px;
}

.custom-navbar .nav-link:hover {
    color: #000000;
}

.dropdown-menu {
    right: 0;
    width: auto; /* Adjust width as needed */
    min-width: 100px; /* Set a minimum width */
}

.btn .bi {
    font-size: 1.5rem; 
}

.bi-cart{
  color: #81350A;
}

#userdropdownMenuButton {
    background-color: transparent;
    border: none;
    color: #000000;
}

#usercart {
  background-color: transparent;
  border: none;
  color: #000000;
  padding-left: 30%;
}

.carousel-inner img {
    max-height: 800px !important;
    width: auto;
    object-fit: cover;
}

.carousel-caption {
    bottom: 20px;
}

.carousel-caption .btn {
    font-size: 1.2rem;
}

.small-logo {
    width: 9rem;
    height: auto;
}

.custom-signin-btn {
    background-color: #ffe6d5; 
    color: #8a7b66; 
}

.custom-signin-btn:hover {
    background-color: #8a7b66; 
}

.game-section {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .game-section .owl-stage {
    margin: 15px 0;
    display: flex;
    display: -webkit-flex;
  }
  .game-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .game-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  }
  .game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    
  }
  .game-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  .game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
  }
  .game-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
  }
  .game-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .game-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
  }
  /******** Middle section CSS End *******/
  
  /***** responsive css Start ******/
  
  @media (min-width: 992px) and (max-width: 1199px) {
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 32px;
    }
  
    /* -------- Landing page ------- */
    .game-section {
      padding: 50px 30px;
    }
    .game-section .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px;
    }
    .game-section .item.active {
      width: 400px;
    }
    .game-section .item-desc {
      transform: translateY(calc(100% - 46px));
      -webkit-transform: translateY(calc(100% - 46px));
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 32px;
    }
    .line-title {
      width: 330px;
    }
  
    /* -------- Landing page ------- */
    .game-section {
      padding: 50px 30px 40px;
    }
    .game-section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }
    .game-section .item.active {
      width: 360px;
    }
    .game-section .item-desc{
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }
  
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      margin: 0 0 8px;
      font-size: 19px;
      line-height: 24px;
    }
    .line-title {
      width: 250px;
    }
  
    /* -------- Landing page ------- */
    .game-section {
      padding: 30px 15px 20px;
    }
    .game-section .item {
      margin: 0 10px 40px;
      width: 200px;
      height: 280px;
    }
    .game-section .item.active {
      width: 270px;
      box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }
    .game-section .item-desc {
      padding: 0 14px 5px;
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }

  .add-to-cart{
    color: #ffe6d5;
    background-color: #81350A;
  }

  .add-to-cart:hover{
    color: #81350A;
    background-color: #ffe6d5;
  }

  .price-desc {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffe6d5;
    padding: 5px 10px;
    border-radius: 5px;
    color: #81350A;
    font-weight: bold;
}

.name-product {
    position: absolute;
    top: 10px;
    left: 40%;
    background-color: #ffe6d5;
    padding: 5px 10px;
    border-radius: 5px;
    color: #81350A;
    font-weight: bold;
}

.footer {
    background-color: #ffdfa0;
    color: #74664b;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    padding-top: 10%;
}

.footer h5 {
    color: #81350A;
    
}

.footer a {
    color: #81350A;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0;
}
